<!-- MODAL -->

<div class="modal closed" data-modal>

    <div class="modal-close-overlay" data-modal-overlay></div>
    
    <div class="modal-content">
        <button class="modal-close-btn" data-modal-close>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
        <div class="newsletter-img">
            <img src="" alt="Suscribirse al boletín" width="400" height="400">
        </div>
        <div class="newsletter">
            <form action="#">
                <div class="newsletter-header">
                    <h3 class="newsletter-title">Suscribirse al boletín</h3>
                    <p class="newsletter-desc">
                        Suscríbete a <span>Majos Cake Medellín</span> para estar al día con nuestros nuevos productos.
                    </p>
                </div>
                <!-- <input type="email" name="email" id="email" class="email-field" placeholder="Escribe tu correo electrónico" autocomplete="off"> -->
                <button type="submit" class="btn-newsletter">Suscribirse</button>
            </form>
        </div>
    </div>

</div>