<!-- NOTIFICATION TOAST -->

<div class="notification-toast closed" data-toast>

    <button class="toast-close-btn" data-toast-close>
        <!-- <ion-icon name="close-outline"></ion-icon> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
    </button>
    <div class="toast-banner">
        <img src="" alt="bandeja" width="80" height="70">
    </div>
    <div class="toast-detail">
        <p class="toast-title" id="title-notification"></p>
        <p class="toast-message" id="message-notification"></p>
    </div>
</div>