<footer>

    <div class="footer-nav">
        <div class="container">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Majos Cake Medellín</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-logo">
                        <img src="" alt="Majos Cake Medellín" class="logo-img">
                    </a>
                </li>
                <li class="footer-nav-item">
                    <p class="content-text">
                        Desayunos hecho con amor para que nuestros clientes queden satifechos
                    </p>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Información</h2>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Nuestra historia</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Términos y condiciones</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Dudas</a>
                </li>
                <li class="footer-nav-item">
                    <a href="/login" class="footer-nav-link" data-link>Acceder o registrarse</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">Política de datos</a>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">Contacto</h2>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-map-pin">
                            <path
                                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                            <circle cx="12" cy="10" r="3" />
                        </svg>
                    </div>
                    <address class="content">Tienda virtual en Medellin</address>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-phone">
                            <path
                                d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384" />
                        </svg>
                    </div>
                    <a href="" class="footer-nav-link">3102404754</a>
                </li>
                <li class="footer-nav-item flex">
                    <div class="icon-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-mail">
                            <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
                            <rect x="2" y="4" width="20" height="16" rx="2" />
                        </svg>
                    </div>
                    <a href="" class="footer-nav-link">majoscakemedellin@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <img src="" alt="Metodos de pago" class="payment-img">
            <p class="copyright">
                Copyright © <a href="#">Majos Cake Medellin</a> todos los derechos reservados
            </p>
        </div>
    </div>

</footer>