<header>

    <div class="header-top">
        <div class="container">
            <ul class="header-social-container">
                <li>
                    <a href="" class="social-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="social-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-instagram">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M16 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-8a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-4 5a4 4 0 0 0 -3.995 3.8l-.005 .2a4 4 0 1 0 4 -4m4.5 -1.5a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="social-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-brand-whatsapp">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M18.497 4.409a10 10 0 0 1 -10.36 16.828l-.223 -.098l-4.759 .849l-.11 .011a1 1 0 0 1 -.11 0l-.102 -.013l-.108 -.024l-.105 -.037l-.099 -.047l-.093 -.058l-.014 -.011l-.012 -.007l-.086 -.073l-.077 -.08l-.067 -.088l-.056 -.094l-.034 -.07l-.04 -.108l-.028 -.128l-.012 -.102a1 1 0 0 1 0 -.125l.012 -.1l.024 -.11l.045 -.122l1.433 -3.304l-.009 -.014a10 10 0 0 1 1.549 -12.454l.215 -.203a10 10 0 0 1 13.226 -.217m-8.997 3.09a1.5 1.5 0 0 0 -1.5 1.5v1a6 6 0 0 0 6 6h1a1.5 1.5 0 0 0 0 -3h-1l-.144 .007a1.5 1.5 0 0 0 -1.128 .697l-.042 .074l-.022 -.007a4.01 4.01 0 0 1 -2.435 -2.435l-.008 -.023l.075 -.041a1.5 1.5 0 0 0 .704 -1.272v-1a1.5 1.5 0 0 0 -1.5 -1.5" />
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="header-alert-news">
                <p>
                    <b>Envíos en Medellín y sus alrededores</b>
                </p>
            </div>
            <div class="header-top-actions">
                <select name="language" id="language">
                    <option value="en-US">English</option>
                    <option value="en-ES">Español</option>
                </select>
            </div>
        </div>
    </div>

    <div class="header-main">
        <div class="container">
            <a href="/" class="header-logo" data-link>
                <img src="" alt="majos cake medellín" width="120" height="36">
            </a>
            <div class="header-search-container">
                <input type="search" name="product-search" id="product-search" class="search-field" placeholder="Nombre del producto...">
                <button class="search-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-search">
                        <path d="m21 21-4.34-4.34" />
                        <circle cx="11" cy="11" r="8" />
                    </svg>
                </button>
            </div>
            <div class="header-user-actions">
                <a href="/login" class="action-btn" id="btn-user" data-link>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-user">
                        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                        <circle cx="12" cy="7" r="4" />
                    </svg>
                </a>
                <a class="action-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-heart">
                        <path
                            d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5" />
                    </svg>
                    <span class="count">0</span>
                </a>
                <a class="action-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-calendar-check-2">
                        <path d="M 19 3 L 5 3" />
                        <path d="M 21 13 L 21 5" />
                        <path d="M 21 5 A2 2 0 0 0 19 3" />
                        <path d="M 3 19 A2 2 0 0 0 5 21" />
                        <path d="M 3 5 L 3 19" />
                        <path d="M 5 3 A2 2 0 0 0 3 5" />
                        <path d="m16 19 2 2 4-4" />
                        <path d="M16 2v3" />
                        <path d="M3 9h18" />
                        <path d="M5 21 L12.5 21" />
                        <path d="M8 2v3" />
                    </svg>
                    <span class="count">0</span>
                </a>
            </div>
        </div>
    </div>

    <nav class="desktop-navigation-menu">
        <div class="container">
            <ul class="desktop-menu-category-list">
                <li class="menu-category">
                    <a href="/" class="menu-title" data-link>Inicio</a>
                </li>
                <li class="menu-category">
                    <a href="" class="menu-title">Desayunos</a>
                    <div class="dropdown-panel">
                        <ul class="dropdown-panel-list">
                            <li class="menu-title">
                                <a href="">Bandeja</a>
                            </li>
                            <li class="panel-list-item">
                                <a href="">Bandeja especial</a>
                            </li>
                            <li class="panel-list-item">
                                <a href="">Bandeja torta</a>
                            </li>
                            <li class="panel-list-item">
                                <a href="">
                                    <img src="" alt="pendiente" width="250" height="119">
                                </a>
                            </li>
                        </ul>
                        <ul class="dropdown-panel-list">
                            <li class="menu-title">
                                <a href="">Box</a>
                            </li>
                            <li class="panel-list-item">
                                <a href="">Box rosada</a>
                            </li>
                            <li class="panel-list-item">
                                <a href="">Caja floral</a>
                            </li>
                            <li class="panel-list-item">
                                <a href="">
                                    <img src="" alt="pendiente" width="250" height="119">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu-category">
                    <a href="" class="menu-title">Detalles</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-item">
                            <a href="#">Arreglo floral</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Box especial</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Peluche</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-category">
                    <a href="" class="menu-title">Ediciones especial</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-item">
                            <a href="#">Día de las madre</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Día del padre</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Amor y amistad</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-category">
                    <a href="" class="menu-title">Dudas</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="mobile-bottom-navigation">
        <button class="action-btn" data-mobile-menu-open-btn>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-menu">
                <path d="M4 5h16" />
                <path d="M4 12h16" />
                <path d="M4 19h16" />
            </svg>
        </button>
        <a class="action-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-calendar-check-2">
                <path d="M 19 3 L 5 3" />
                <path d="M 21 13 L 21 5" />
                <path d="M 21 5 A2 2 0 0 0 19 3" />
                <path d="M 3 19 A2 2 0 0 0 5 21" />
                <path d="M 3 5 L 3 19" />
                <path d="M 5 3 A2 2 0 0 0 3 5" />
                <path d="m16 19 2 2 4-4" />
                <path d="M16 2v3" />
                <path d="M3 9h18" />
                <path d="M5 21 L12.5 21" />
                <path d="M8 2v3" />
            </svg>
            <span class="count">0</span>
        </a>
        <a href="/" class="action-btn" data-link>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-house">
                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
                <path
                    d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
            </svg>
        </a>
        <a class="action-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-heart">
                <path
                    d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5" />
            </svg>
            <span class="count">0</span>
        </a>
        <a href="/login" class="action-btn" id="btn-user" data-link>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-user">
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                <circle cx="12" cy="7" r="4" />
            </svg>
        </a>
    </div>

    <nav class="mobile-navigation-menu has-scrollbar" data-mobile-menu>
        <div class="menu-top">
            <h2 class="menu-title">Menu</h2>
            <button class="menu-close-btn" data-mobile-menu-close-btn>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-x">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                </svg>
            </button>
        </div>
        <ul class="mobile-menu-category-list">
            <li class="menu-category">
                <a href="/" class="menu-title" data-link>Inicio</a>
            </li>
            <li class="menu-category">
                <button class="accordion-menu" data-accordion-btn>
                    <p class="menu-title">Desayunos</p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-plus add-icon">
                            <path d="M5 12h14" />
                            <path d="M12 5v14" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-minus remove-icon">
                            <path d="M5 12h14" />
                        </svg>
                    </div>
                </button>
                <ul class="submenu-category-list" data-accordion>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja completa</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja especial</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Bandeja torta</a>
                    </li>
                </ul>
            </li>
            <li class="menu-category">
                <button class="accordion-menu" data-accordion-btn>
                    <p class="menu-title">Detalles</p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-plus add-icon">
                            <path d="M5 12h14" />
                            <path d="M12 5v14" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-minus remove-icon">
                            <path d="M5 12h14" />
                        </svg>
                    </div>
                </button>
                <ul class="submenu-category-list" data-accordion>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Arreglo floral</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Caja especial</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Peluche</a>
                    </li>
                </ul>
            </li>
            <li class="menu-category">
                <button class="accordion-menu" data-accordion-btn>
                    <p class="menu-title">Ediciones especiales</p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-plus add-icon">
                            <path d="M5 12h14" />
                            <path d="M12 5v14" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-minus remove-icon">
                            <path d="M5 12h14" />
                        </svg>
                    </div>
                </button>
                <ul class="submenu-category-list" data-accordion>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Día de la madre</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Día del padre</a>
                    </li>
                    <li class="submenu-category">
                        <a href="#" class="submenu-title">Amor y amistad</a>
                    </li>
                </ul>
            </li>
            <li class="menu-category">
                <a href="#" class="menu-title">Dudas</a>
            </li>
        </ul>
        <div class="menu-bottom">
            <ul class="menu-category-list">
                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Lenguaje</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-left caret-back">
                            <path d="m15 18-6-6 6-6" />
                        </svg>
                    </button>
                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category">
                            <a href="" class="submenu-title">Inglés</a>
                        </li>
                        <li class="submenu-category">
                            <a href="" class="submenu-title">Español</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="menu-social-container">
                <li>
                    <a href="#" class="social-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor"
                            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-instagram">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M16 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-8a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-4 5a4 4 0 0 0 -3.995 3.8l-.005 .2a4 4 0 1 0 4 -4m4.5 -1.5a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-brand-whatsapp">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M18.497 4.409a10 10 0 0 1 -10.36 16.828l-.223 -.098l-4.759 .849l-.11 .011a1 1 0 0 1 -.11 0l-.102 -.013l-.108 -.024l-.105 -.037l-.099 -.047l-.093 -.058l-.014 -.011l-.012 -.007l-.086 -.073l-.077 -.08l-.067 -.088l-.056 -.094l-.034 -.07l-.04 -.108l-.028 -.128l-.012 -.102a1 1 0 0 1 0 -.125l.012 -.1l.024 -.11l.045 -.122l1.433 -3.304l-.009 -.014a10 10 0 0 1 1.549 -12.454l.215 -.203a10 10 0 0 1 13.226 -.217m-8.997 3.09a1.5 1.5 0 0 0 -1.5 1.5v1a6 6 0 0 0 6 6h1a1.5 1.5 0 0 0 0 -3h-1l-.144 .007a1.5 1.5 0 0 0 -1.128 .697l-.042 .074l-.022 -.007a4.01 4.01 0 0 1 -2.435 -2.435l-.008 -.023l.075 -.041a1.5 1.5 0 0 0 .704 -1.272v-1a1.5 1.5 0 0 0 -1.5 -1.5" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</header>